html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito';
}   

:root {
  --color: #5773ff;   
  --gray: #e8ecef;
  --grad: linear-gradient(0deg, rgba(72,198,239,1) 0%, rgba(111,134,214,1) 100%);
}  

.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  background: #eee; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button, .uploadbtn {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color);
  transition: all 0.2s;
  padding: 9px 15px;
  background: var(--color);
  color: #fff;
  border-radius: 40px;
  box-shadow: 0px 10px 20px -2px rgba(53,182,250,0.05);
} 
button:active {
  transform: scale(0.97);
}
button:hover {
  filter: brightness(110%);
  box-shadow: 0px 10px 14px 0px rgba(53,182,250,0.07);
} 
button i, a i {
  margin-right: 10px;
}
input, select {
  padding: 13px 10px;
  border-radius: 5px;
  border: 1px solid #ddd; 
  width: 100%;
} 
select {
  padding: 0;
}
select option {
  padding: 5px;
}
input:focus, textarea:focus, select:focus {
  box-shadow: 0px 0px 11px 0px rgba(53,182,250,0.14);
}
input[type="color"] {
  height: 45px;
  padding: 1px 2px;
  cursor: pointer;
}
a { 
  text-decoration: none;
  color: #111;
}
input, textarea, select {
  outline: none;
  transition: all 0.3s;
}
textarea {
  font-family: inherit;
}
textarea::placeholder {
  color: #bbb;
}
input::placeholder {
  color: #bbb;
  font-size: 12px;
}
hr {
  border: none;
}


