html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito';
}   

:root {
  --color: #5773ff;   
  --gray: #e8ecef;
  --grad: linear-gradient(0deg, rgba(72,198,239,1) 0%, rgba(111,134,214,1) 100%);
}  

.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  background: #eee; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button, .uploadbtn {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color);
  transition: all 0.2s;
  padding: 9px 15px;
  background: var(--color);
  color: #fff;
  border-radius: 40px;
  box-shadow: 0px 10px 20px -2px rgba(53,182,250,0.05);
} 
button:active {
  transform: scale(0.97);
}
button:hover {
  filter: brightness(110%);
  box-shadow: 0px 10px 14px 0px rgba(53,182,250,0.07);
} 
button i, a i {
  margin-right: 10px;
}
input {
  border: none;
  padding: 13px 10px;
  border-radius: 5px;
  border: 1px solid #ddd; 
} 
input:focus, textarea:focus, select:focus {
  border: 1px solid var(--color);
  box-shadow: 0px 0px 11px 0px rgba(53,182,250,0.14);
}
input[type="color"] {
  height: 45px;
  padding: 1px 2px;
  cursor: pointer;
}
a { 
  text-decoration: none;
  color: #111;
}
input, textarea, select {
  outline: none;
  transition: all 0.3s;
}
textarea {
  font-family: inherit;
}
textarea::placeholder {
  color: #bbb;
}
input::placeholder {
  color: #bbb;
  font-size: 12px;
}
hr {
  border: none;
}
/*Player Styles */
.mainplayer {
  position: fixed;
  bottom: 0;
  right: 10px;
  left: auto;
  width: 100%;
  z-index: 999;
  padding-left: 10px;
}
.mainplayer .rhap_container  {
  transition: all 0.2s;
  flex-direction: row;
  align-items: center;
  background: none;
  backdrop-filter: blur(6px);
  background: rgba(255,255,255,0.7);
}
.rhap_header {
  min-width: 350px!important;
  max-width: 450px!important;
}
.rhap_main-controls-button, .rhap_volume-button, .rhap_button-clear {
  color: var(--color)!important;
}
.rhap_progress-indicator, .rhap_progress-filled, .rhap_volume-indicator {
  background: var(--color)!important;
}
.rhap_current-time, .rhap_total-time {
  color: #777 !important;
  font-size: 13px !important;
} 
.rhap_progress-bar {
  height: 3px !important;
}
.rhap_repeat-button {
  font-size: 21px!important;
  top: 4px!important;
}
.miniplayericon {
  color: var(--color);
  position: absolute;
  z-index: 100;
  cursor: pointer;
  transition: all 0.2s;
}
.miniplayericon:hover {
  filter: brightness(120%)
}
.playertitles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 8px;
}
.playertitles img {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  margin-right: 10px;
}
.playertitles h5 {
  font-size: 13px;
  color: #333;
}
.playertitles h5 small {
  color: #777;
  font-size: 11px;
  display: block;
  font-weight: 500;
}

.appcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 220px auto;
  transition: all 0.3s;
}
.sidebar {
  background: var(--gray);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  z-index: 900;
} 
.logocont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.logocont img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  top: -2px;
}
.logocont h5 {
  color: #555;
  font-size: 15px;
  font-weight: 600;
}
.logocont h5 span {
  font-weight: 500;
}
.sidebar .menu {
  width: 100%;
}
.sidebar .menu h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #111;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 40px;
}
.sidebar .menu a {
  font-size: 14px;
  color: #999;
  padding: 10px 40px;
  display: block;
  font-weight: 600;
  border-left: 3px solid transparent;
  transition: all 0.2s;
}
.sidebar .menu .activelink, .sidebar .menu a:hover {
  border-left: 3px solid var(--color);
  color: var(--color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 999;
  backdrop-filter: blur(10px);
}
nav .navlinks a {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 500;
  color: #bbb;
}
nav a.activenavlink {
  color: var(--color);
  font-weight: 600;
}
nav label {
  width: 250px;
}
nav label i {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 13px;
  color: #333;
  font-size: 14px;
}
nav label input {
  width: 100%;
  padding-left: 35px;
  color: var(--color);
  border-radius: 40px;
  backdrop-filter: blur(5px)
}
nav .navtools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 7px;
}
nav .navtools > i {
  color: #aaa;
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255,255,255,0.5);
}
nav .navtools i:hover {
  color: var(--color);
  background: rgba(255,255,255,0.8);
}
nav .profcont {
  border-radius: 40px;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 5px;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 10px;
  background: rgba(255,255,255,0.5);
}
nav .profcont:hover {
  background: rgba(255,255,255,0.8);
}
nav .profcont h6 {
  color: #777;
  font-size: 12px;
}
nav .profcont img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
nav .profcont i:hover {
  color: #aaa;
}

.homecont {
  height: 100vh;
  width: 100%;
  background: #fff;
  overflow-y: scroll;
}

/* iOS Style Button */
.form-switch{display:inline-block;cursor:pointer;-webkit-tap-highlight-color:transparent}
.form-switch i{position:relative;display:inline-block;margin-right:.5rem;width:46px;height:26px;background-color:#e6e6e6;border-radius:23px;vertical-align:text-bottom;transition:all .3s linear}
.form-switch i::before{content:"";position:absolute;left:0;width:42px;height:22px;background-color:#fff;border-radius:11px;transform:translate3d(2px,2px,0) scale3d(1,1,1);transition:all .25s linear}
.form-switch i::after{content:"";position:absolute;left:0;width:22px;height:22px;background-color:#fff;border-radius:11px;box-shadow:0 2px 2px rgba(0,0,0,.24);transform:translate3d(2px,2px,0);transition:all .2s ease-in-out}
.form-switch:active i::after{width:28px;transform:translate3d(2px,2px,0)}
.form-switch:active input:checked+i::after{transform:translate3d(16px,2px,0)}
.form-switch input{display:none}
.form-switch input:checked+i{background:var(--color)}
.form-switch input:checked+i::before{transform:translate3d(18px,2px,0) scale3d(0,0,0)}
.form-switch input:checked+i::after{transform:translate3d(22px,2px,0)} 

.homepage {
  width: 100%;
  overflow: scroll;
}
.herobanner {
  width: 100%;
  height: 420px;
  padding: 50px;
}
.herobanner .herobg {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.heronav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  height: 200px;
  width: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
}
.heronav > div:not(.arrowcont) {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.2s;
  padding: 2px;
}
.heronav .arrowcont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
  grid-gap: 2px;
}
.heronav .arrowcont i {
  cursor: pointer;
  padding: 4px;
}
.heronav > div:hover:not(.arrowcont) {
  transform: scale(1.5);
}
.heronav > div.active {
  background: #fff;
  transform: scale(1.5);
  filter: brightness(140%)
}
.bgcover {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(255,255,255,0.2) 100%);
}
.herobanner h6 {
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
}
.herobanner h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 1;
  color: #333;
  margin: 30px 0;
  margin-top: 20px;
  width: 420px;
}
.herobanner h5 {
  margin-top: 20px;
  font-size: 15px;
}
.herobanner h5 a {
  color: inherit
}
.herobanner h5 i {
  margin-right: 5px;
}
.herobanner h5 span {
  color: #aaa;
  font-weight: 500;
  margin-left: 15px;
}
.herobanner .heroactions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 20px;
}
.herobanner .heroactions > i {
  color: var(--color);
  padding: 5px;
  cursor: pointer;
}

.homegrid {
  display: grid;
  grid-template-columns: auto 450px;
  grid-gap: 20px;
  padding: 20px;
  padding-bottom: 130px;
}
.homeleft {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}
.homeright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.homebox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  border-radius: 6px;
  background: #fff;
}
.homeboxrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.trendingbox .homeboxrow {
  grid-gap: 20px;
}
.homebox > h5 {
  color: #444;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homebox > h5 small {
  color: #aaa;
  font-weight: 500;
  font-size: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.homebox > h5 small:hover {
  color: var(--color);
}
.trendingbox {
  grid-column: 1/-1;
  box-shadow: none;
} 
.songbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}
.songbox .imgcont {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  margin-bottom: 8px;
  overflow: hidden;
}
.songbox .imgcont:hover .songboxcover {
  opacity: 1;
}
.songbox .songboxcover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  transition: all 0.2s;
}
.songbox .songboxcover i {
  color: #fff;
  font-size: 27px;
  left: 2px;
}
.songbox .imgcont img {
  width: 100%;
  height: 100%;
}
.songbox h6 {
  color: #333;
  font-size: 11px;
}
.songbox small {
  font-size: 10px;
  color: #aaa;
  font-weight: 500;
}
.homesongsrow .homeboxrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-gap: 7px;
}
.homesongsrow {
  counter-reset: songrow;
}
.songrow {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  padding: 8px 5px;
  transition: all 0.2s;
  border-radius: 6px;
}
.songrow:hover {
  background: #f9f9f9;
}
.songrow::before {
  counter-increment: songrow;
  content: counter(songrow);
  position: absolute;
  color: #aaa;
  font-size: 14px;
}
.songrow > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.songrow img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 30px;
}
.songrow h6 {
  font-size: 12px;
  color: #333;
}
.songrow h6 small {
  display: block;
  color: #aaa;
  font-weight: 500;
}
.songrow > div > span {
  font-size: 14px;
  color: #aaa;
  margin-right: 20px;
}
.songrow > div > small {
  font-size: 12px;
  color: #333;
  margin-right: 20px;
}
.songrow i {
  margin: auto 5px;
  padding: 5px;
  cursor: pointer;
}
.songrow i.fa-play, .songrow i.fa-pause {
  color: var(--color);
}
.songrow i.fa-ellipsis-h {
  color: #aaa;
  transition: all 0.2s;
}
.songrow i.fa-ellipsis-h:hover {
  color: var(--color);
}































