.homepage {
  width: 100%;
  overflow: scroll;
}
.homegrid {
  display: grid;
  grid-template-columns: auto 450px;
  grid-gap: 20px;
  padding: 20px;
  padding-bottom: 130px;
}
.homeleft {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}
.homeright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.homeleft .songbox {
  width: 100px;
}
.homeleft .songbox .imgcont {
  width: 100px;
  height: 100px;
}
.homeleft .songbox .imgcont i {
  font-size: 32px;
}
.homeleft .songbox h6 {
  font-size: 12px;
}
.homeleft .songbox small {
  font-size: 10px;
}

@media (max-width: 1200px) {
  .homegrid > div {
    grid-column: 1/-1
  }
}