nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 999;
  backdrop-filter: blur(10px);
}
nav .navlinks a {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 500;
  color: #bbb;
}
nav a.activenavlink {
  color: var(--color);
  font-weight: 600;
}
nav label {
  width: 250px;
}
nav label i {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 13px;
  color: #aaa;
  font-size: 14px;
}
nav label input {
  width: 100%;
  padding-left: 35px;
  color: var(--color);
  border-radius: 40px;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.3);
}
nav label input:focus {
  background: #fff;
}
nav .navtools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 7px;
}
nav .navtools > i {
  color: #aaa;
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255,255,255,0.5);
}
nav .navtools i:hover {
  color: var(--color);
  background: rgba(255,255,255,0.8);
}
nav .profcont {
  border-radius: 40px;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 5px;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 10px;
  background: rgba(255,255,255,0.5);
}
nav .profcont:hover {
  background: rgba(255,255,255,0.8);
}
nav .profcont h6 {
  color: #777;
  font-size: 12px;
}
nav .profcont img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
nav .profcont i:hover {
  color: #aaa;
}
.floatsettingscont {
  position: fixed;
  top: 70px;
  right: 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.97);
  width: 600px;
  height: 360px;
  padding: 20px;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
}
.floatsettingscont .floattitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.floatsettingscont .floattitles i {
  transition: all 0.2s;
  cursor: pointer;
  font-size: 18px;
  color: #777;
  z-index: 10;
}
.floatsettingscont .floattitles i:hover {
  color: var(--color);
}
.floatsettingscont > h5 {
  text-align: center;
  color: #444;
  font-size: 14px;
}
.navlinks .fa-stream {
  display: none;
}
nav .createcont {
  margin-right: 20px;
  border-radius: 40px;
  padding: 8px 15px;
  background: rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
nav .createcont:hover {
  background: rgba(255,255,255,0.8);
}
nav .createcont h6 {
  color: #777;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}
nav .createcont h6 i:hover {
  background: none;
  color: #777;
}
nav .createcont:hover .createmenudiv {
  visibility: visible;
  opacity: 1;
  top: 35px;
} 
nav .createmenudiv {
  position: absolute;
  top: 45px;
  right: 0;
  width: 300px;
  border-radius: 10px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.additembtn {
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s;
  color: #555;
}
.additembtn:hover {
  background: var(--color);
  color: #fff;
}
.additembtn h5 {
  
}
.additembtn i {
  margin-right: 10px;
}

@media (max-width: 900px) {
  nav {
    width: 100%;
  }
  .navlinks .fa-stream {
    display: inline;
    font-size: 20px;
    top: 3px;
    color: #aaa;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 15px;
  }
  .navlinks .fa-stream:hover {
    color: var(--color);
  }
}