.trackrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  margin-bottom: 7px;
}
.trackrow img {
  width: 35px;
  height: 35px;
  border-radius: 6px;
}
.trackrow > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 25px;
  flex-basis: 10%;
}
.trackrow > div i {
  color: #ddd;
}
.trackrow > h6 {
  font-size: 12px;
  color: #333;
  flex-basis: 16%;
}
.trackrow .narrowflex {
  flex-basis: 3%;
}
.trackrow ins i {
  color: var(--color);
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1650px) {
  .trackrow > div .fa-heart {
    display: none;
  }
}